Options +FollowSymLinks
RewriteEngine On
RewriteBase /

# Exclude the "questionbank","exam" and "sitemap" directories from the common rule
RewriteCond %{REQUEST_URI} !^/questionbank/
RewriteCond %{REQUEST_URI} !^/exam/
RewriteCond %{REQUEST_URI} !^/sitemap/


# Route requests to author/index.php if in the author directory
RewriteCond %{REQUEST_URI} ^/author/
RewriteRule ^author/(.*)$ author/index.php [QSA,L]

# Route requests to blog/index.php if in the blog directory
RewriteCond %{REQUEST_URI} ^/blog/
RewriteRule ^blog/(.*)$ blog/index.php [QSA,L]

# Route requests to blog/recently/index.php if in the blog/recently directory
RewriteCond %{REQUEST_URI} ^/blog/recently/
RewriteRule ^blog/recently/(.*)$ blog/recently/index.php [QSA,L]

# Route requests to category.php if in the category directory
RewriteCond %{REQUEST_URI} ^/category/
RewriteRule ^category/(.*)$ /category.php [QSA,L]

# Redirect all other requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
